<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsien.contentcenter.dao.content.ShareMapper">
    <resultMap id="BaseResultMap" type="com.tsien.contentcenter.domain.model.content.Share">
        <!--@mbg.generated-->
        <!--@Table `share`-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_original" jdbcType="BOOLEAN" property="isOriginal"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="download_url" jdbcType="VARCHAR" property="downloadUrl"/>
        <result column="buy_count" jdbcType="INTEGER" property="buyCount"/>
        <result column="show_flag" jdbcType="BOOLEAN" property="showFlag"/>
        <result column="audit_status" jdbcType="VARCHAR" property="auditStatus"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, title, create_time, update_time, is_original, author, cover, summary,
        price, download_url, buy_count, show_flag, audit_status, reason
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `share`
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from `share`
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.contentcenter.domain.model.content.Share" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `share` (user_id, title, create_time,
                             update_time, is_original, author,
                             cover, summary, price,
                             download_url, buy_count, show_flag,
                             audit_status, reason)
        values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{isOriginal,jdbcType=BOOLEAN}, #{author,jdbcType=VARCHAR},
                #{cover,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER},
                #{downloadUrl,jdbcType=VARCHAR}, #{buyCount,jdbcType=INTEGER}, #{showFlag,jdbcType=BOOLEAN},
                #{auditStatus,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.contentcenter.domain.model.content.Share" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into `share`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isOriginal != null">
                is_original,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="downloadUrl != null">
                download_url,
            </if>
            <if test="buyCount != null">
                buy_count,
            </if>
            <if test="showFlag != null">
                show_flag,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="reason != null">
                reason,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isOriginal != null">
                #{isOriginal,jdbcType=BOOLEAN},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="downloadUrl != null">
                #{downloadUrl,jdbcType=VARCHAR},
            </if>
            <if test="buyCount != null">
                #{buyCount,jdbcType=INTEGER},
            </if>
            <if test="showFlag != null">
                #{showFlag,jdbcType=BOOLEAN},
            </if>
            <if test="auditStatus != null">
                #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tsien.contentcenter.domain.model.content.Share">
        <!--@mbg.generated-->
        update `share`
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isOriginal != null">
                is_original = #{isOriginal,jdbcType=BOOLEAN},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="downloadUrl != null">
                download_url = #{downloadUrl,jdbcType=VARCHAR},
            </if>
            <if test="buyCount != null">
                buy_count = #{buyCount,jdbcType=INTEGER},
            </if>
            <if test="showFlag != null">
                show_flag = #{showFlag,jdbcType=BOOLEAN},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tsien.contentcenter.domain.model.content.Share">
        <!--@mbg.generated-->
        update `share`
        set user_id      = #{userId,jdbcType=INTEGER},
            title        = #{title,jdbcType=VARCHAR},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP},
            is_original  = #{isOriginal,jdbcType=BOOLEAN},
            author       = #{author,jdbcType=VARCHAR},
            cover        = #{cover,jdbcType=VARCHAR},
            summary      = #{summary,jdbcType=VARCHAR},
            price        = #{price,jdbcType=INTEGER},
            download_url = #{downloadUrl,jdbcType=VARCHAR},
            buy_count    = #{buyCount,jdbcType=INTEGER},
            show_flag    = #{showFlag,jdbcType=BOOLEAN},
            audit_status = #{auditStatus,jdbcType=VARCHAR},
            reason       = #{reason,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByParam" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from share
        <where>
            <if test="title != null and title != ''">
                title like concat('%', #{title,jdbcType=VARCHAR}, '%')
            </if>
            and audit_status = 'PASS'
        </where>
    </select>
</mapper>